[Unit]
Description=scraping twitter for NYC
After=multi-user.target

[Service]
Type=idle
ExecStart=/root/twitter_geo_scraper/daemon
ExecStop=/root/twitter_geo_scraper/daemon

[Install]
WantedBy=multi-user.target
